$main-font: 'Arimo', sans-serif;
$nav-color: rgba(11,80,129, 1);
$main-font-size: 16px;
$type-box-sizing: border-box;
$min-width: 320px;
$xs-width: 480px;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;
$max-width: 1920px;
$link-text-decoration: none;
$list-style: none;
$link-cursor: pointer;
$link-transition: all 0.4s linear;